<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'cdnlines.html' %}
<div class="container">
    <div class="row">
        <div class="offset-md-4 col-md-5" style="border: 2px red solid; margin-top: 15%; margin-left: 30%">
            {% include 'alert.html' %}
            <h1 class="text-center"><b><u>Sign In Here..</u></b></h1>
            <form method="POST">
                {% csrf_token %}
                <label>Enter Username:</label>
                <input type="text" placeholder="Username.." name="username" class="form-control">

                <label>Enter Password:</label>
                <input type="password" placeholder="password.." name="password" class="form-control">

                <center>
                    <input type="submit" value="SignIn" class="btn btn-success">
                </center>

            </form>
            <a href="{% url 'register' %}" class="text-warning"><b>Register</b></a>
            <a href="{% url 'main_page' %}" style="float: right;" class="text-warning"><b>Go to Main Page</b></a>


        </div>

    </div>

</div>

</body>
</html>